{{#if tag}}
<div class="event-feed-row tag-event">
  <div class="shaddow"></div>
  <div class="top-inner-row">
    <div class="tag-time">
    {{tag.claimed}}
    </div>
  </div> 
  <div class="middle-inner-row">
    <div class="tag-photo"> 
        {{#linkTo 'user.home' tag.tagger.user classNameBindings="tag.tagger.status"}}
          {{avatar2 tag.tagger.user.avatar size="small" class="border-small"}}
        {{/linkTo}}
    </div>
    <div class="tag-action">
      <div class="tag-text">tagged</div>
      <div class="tag-underline"></div>
    </div>
      <div class="tag-photo"> 
        {{#linkTo 'user.home' tag.taggee.user classNameBindings="tag.taggee.status" }}
          {{avatar2 tag.taggee.user.avatar size="small" class="border-small"}}
        {{/linkTo}}
    </div>
  </div> 
  <div class="bottom-inner-row">
    <span class="tagger-name"> {{tag.tagger.user.screen_name}}</span>
    <span class="taggee-name"> {{tag.taggee.user.screen_name}}</span>
  </div> 
</div>
{{/if}}


{{#if player}}
<div class="event-feed-row join-event">
  <div class="shaddow"></div>
  <div class="top-inner-row">
    <div class="join-time">
      {{player.created}}
    </div>
  </div> 
  <div class="middle-inner-row">
    <div class="join-photo"> 
        {{#linkTo 'user.home' player.user classNameBindings="player.status"}}
          {{avatar2 player.user.avatar size="small" class="border-small"}}
        {{/linkTo}}
    </div>
    <div class="join-action">
      <div class="join-text">joined the game</div>
      <div class="join-underline"></div>
    </div>
    <div class="join-arrow">
    </div>
  </div> 
  <div class="bottom-inner-row">
    <span> {{player.user.screen_name}}</span>
  </div> 

</div>
{{/if}}