{{#if tag}}
<div class="event-feed-row tag-event">
  <div class="shaddow"></div>
  <div class="top-inner-row">
  </div> 
  <div class="middle-inner-row">
    <div class="tag-photo"> 
      <div {{bindAttr class="player.status"}}> 
        {{avatar2 player.user.avatar size="small" class="border-small"}}
      </div>
    </div>
    <div class="tag-action">
      <div class="tag-text">tagged</div>
      <div class="tag-underline"></div>
    </div>
      <div class="tag-photo"> 
      <div {{bindAttr class="player.status"}}> 
        {{avatar2 player.user.avatar size="small" class="border-small"}}
      </div>
    </div>
  </div> 
  <div class="bottom-inner-row">
    <span class="tagger-name"> {{player.user.screen_name}}</span>
    <span class="taggee-name"> {{player.user.screen_name}}</span>
  </div> 
</div>
{{/if}}




{{#if player}}
<div class="event-feed-row join-event">
  <div class="shaddow"></div>
  <div class="top-inner-row">
  </div> 
  <div class="middle-inner-row">
    <div class="join-photo"> 
      <div {{bindAttr class="join-photo player.status"}}> 
        {{avatar2 player.user.avatar size="small" class="border-small"}}
      </div>
    </div>
    <div class="join-action">
      <div class="join-text">joined the game</div>
      <div class="join-underline"></div>
    </div>
    <div class="join-arrow">
    </div>
  </div> 
  <div class="bottom-inner-row">
    <span> {{player.user.screen_name}}</span>
  </div> 

</div>
{{/if}}