<h2> Games </h2>
{{#if user.players}}
  {{#each user.players}}
  <!-- if the game's registration is open or currently running, list the game, otherwise, list the game under Past Games -->  
  <div class="row gamelistitem game-list-item transparent-cover">
    <div class="span4">
      <div class="game-list-name">
        {{#linkTo 'game.home' game}} {{game.name}} {{/linkTo}}
      </div>
      {{#if App.Auth.signedIn}}
        {{#if game.isCurrentUserGame}}
          <div class="span3"><button class="btn disabled signin btn-large joined-button">You are in this game</button></div>
        {{else}}
          <div class="span3"><button class="btn signin btn-large joined-button" {{action "joinGame" game}}>Join this game</button></div>
        {{/if}}
      {{else}}
        {{#linkTo 'login' classNames="btn signin btn-large joined-button"}} Sign in to join game {{/linkTo}}
      {{/if}}
      {{#if human_code}}
        code: {{human_code}}
      {{/if}}     
    </div>
    <div class="span4 game-list-item">
      <div class="game-info-text">
        September 9 - 13
      </div>
    {{!-- THIS IS WHERE THE PLAYER SPECIFIC EVENT FEED GOES --}}
    {{!-- {{view App.PlayerListView contentBinding="content"}} --}}
    </div>
    <div class="span4 game-list-item">
      <div class="game-info-text">
        Players: {{this.game.players.length}}
      </div>
    </div>
  </div>
  {{/each}}

{{else}}
  <div class="row gamelistitem game-list-item transparent-cover">
    <h3>Not in a game?</h3> Go to the {{#linkTo 'discovery' }} Discovery {{/linkTo}} page to find your organization and join a game!
  </div>

{{/if}}
