<div  id="new-org" class="simple-page">
  {{#if errorMessages}}
    <div class="alert alert-error">{{errorMessages}}</div>
  {{/if}}
  <div class="form-fields">
    <div class="row first_name field">
      {{view Ember.TextField
        type="text"
        placeholder=first_name
        valueBinding="user.first_name"
      }}
    </div>
    <div class="row last_name field">
      {{view Ember.TextField
        type="text"
        placeholder=last_name
        valueBinding="user.last_name"
      }}
    </div>
     <div class="row field">
      {{view Ember.TextField
        type="text"
        placeholder=email
        valueBinding="user.email"
      }}
    </div>
     <div class="row field">
      {{view Ember.TextField
        type="text"
        placeholder=screen_name
        valueBinding="user.screen_name"
      }}
    </div>
     <div class="row field">
      {{view Ember.TextField
        type="text"
        placeholder="password"
        valueBinding="user.password"
      }}
    </div>
    <div class="btn btn-large btn-block  row signup-btn" {{action "edit"}}>Save Changes</div>
  </div>
    <span class="clearfix"></span>
</div>