<div class="simple-page">
  <h1>{{first_name}} {{last_name}}'s Profile</h1>
</div>

<div  id="org" class="simple-page">
  <div class="row-fluid">
    <span class="span4">
      <div class="side-profile">
        {{avatar profile class="profile_image pull-center"}}
        <div class="page-heading">
            <h1>{{first_name}} {{last_name}}'s Profile</h1>
            <hr>
        </div>
      </div>
    </span>
    <span class="span5 profile-content-column">
      <div class="profile-option-tabs">
        {{#linkTo user.home classNames="profile-option-tab profile-home"}} Home {{/linkTo}}
        {{#linkTo user.settings classNames="profile-option-tab profile-home"}} Settings {{/linkTo}}
        <span class="clearfix">
      </div>
      {{outlet}}
    </span>
  </div>
</div>