<div class="simple-page">
  <div class="row-fluid">
    <span class="span4">
      <div class="side-profile full-height">
      <h1>{{currentUser.isHuman}}</h1>
      {{#if currentUser.isHuman}}
          {{avatar2 this size="large" class="profile_image human-border pull-center"}}
      {{else}}
        {{#if currentUser.player.isZombie}}
           {{avatar2 this size="large" class="profile_image zombie-border pull-center"}}
        {{else}}
          {{avatar2 this size="large" class="profile_image pull-center"}}
        {{/if}}
      {{/if}}
        <div class="page-heading">
          {{player}}
          <h1>{{first_name}} {{last_name}}
            <div class="profile-sub-heading">
              <small>{{screen_name}}</small>
              {{#if userIsCurrentUser}}
                <div>{{#linkTo 'user.settings' this classNames="btn btn-large edit-profile-btn"}}Edit Profile
                {{/linkTo}}</div>
              {{/if}}
            </div>
          </h1>
          <hr>  
        </div>
      </div>
    </span>
    <span class="span8">
      {{outlet}}
    </span>
  </div>
</div>
<!-- This is a hidden form needed by the avatar.io javascript library -->
<form class="hidden_form hover">
  <input type="file" id="avatar">
</form>

