<div class="simple-page full-height">
  <div class="row-fluid">
    <span class="span4 pad-span">
      <div class="side-profile">
          {{avatar2 avatar size="large" class="profile_image pull-center"}}
        <div class="page-heading">
          {{player}}
          <h1><div class="profile-heading">{{first_name}}  {{last_name}}</div>
            <div class="profile-sub-heading">
              <small>{{screen_name}}</small>
              {{#if userIsCurrentUser}}
                <div>{{#linkTo 'user.settings' this classNames="btn btn-large edit-profile-btn"}}Edit Profile
                {{/linkTo}}</div>
              {{/if}}
            </div>
          </h1>
          <hr>  
        </div>
      </div>
    </span>
    <span class="span8">
      {{outlet}}
    </span>
  </div>
</div>
<!-- This is a hidden form needed by the avatar.io javascript library -->
<form class="hidden_form hover">
  <input type="file" id="avatar">
</form>

