<h2> Games </h2>
{{#each game in organization.games}}
<!-- if the game's registration is open or currently running, list the game, otherwise, list the game under Past Games -->  
<!-- if the game's registration is open or currently running, list the game, otherwise, list the game under Past Games -->  
<div class="row gamelistitem game-list-item transparent-cover">
  <div class="span4">
    <div class="game-list-name">
      {{#linkTo 'game.home' game}} {{game.name}} {{/linkTo}}
  </div>
  {{#if App.Auth.signedIn}}
    {{#if game.isCurrentUserGame}}
      <div class="span1"><button class="btn disabled signin btn-large joined-button" {{action "joinGame" game}}>Joined</button></div>
    {{else}}
      <div class="span1"><button class="btn signin btn-large joined-button" {{action "joinGame" game}}>Join</button></div>
    {{/if}}
  {{else}}
    {{!-- {{#linkTo 'login' classNames="btn signin btn-large joined-button"}} Signin to join game {{/linkTo}} --}}
  {{/if}}

  </div>
  <div class="span4 game-list-item">
    <div class="game-info-text">
      September 9 - 13
    </div>
  {{!-- THIS IS WHERE THE PLAYER SPECIFIC EVENT FEED GOES --}}
  {{!-- {{view App.PlayerListView contentBinding="content"}} --}}
  </div>
  <div class="span4 game-list-item">
    <div class="game-info-text">
      Players: {{game.players.length}}
    </div>
  </div>

</div>
{{/each}}
