<h3> Upcoming Games </h3>
{{#each game in organization.games}}  
  <div class="game-badge">
  {{game.isCurrentUserGame}}
  <span>{{#linkTo 'game.home' game}} {{game.name}} {{/linkTo}}</span>
  <span>{{#linkTo 'game.home' game}} {{game.running_start_time}} {{/linkTo}}</span>
  {{#if game.isCurrentUserGame}}
    <span> You are in this game! </span>
  {{else}}
    <span> <a {{action "joinGame" game}}> Join This Game !! </a> </span>
  {{/if}}

  </div>
{{/each}}
<h3> Activity</h3>
<div class="profile-home">
  {{view App.PlayerListView contentBinding="content"}}
</div>
