<h3> Upcoming Games </h3>
{{#each game in organization.games}}
<!-- if the game's registration is open or currently running, list the game, otherwise, list the game under Past Games -->  
<div class="row gamelistitem game-list-item transparent-cover">
  <div class="span4">
    {{#linkTo 'game.home' game classNames="game-list-name"}} {{game.name}} {{/linkTo}}

  </div>
  <div class="span4">
    <h4>Begins 09/09</h4>
    <h4>Ends 09/14</h4>
    <h4>Players: {{game.players.length}}</h4>
    {{#if App.Auth.signedIn}}
      {{#if game.isCurrentUserGame}}
        You're in!
      {{else}}
        <div class="span1"><button class="btn signin btn-large" {{action "joinGame" game}}>Join</button></div>
      {{/if}}
    {{else}}
      {{#linkTo 'signup' game classNames="btn signin btn-large"}} Signup to join game {{/linkTo}}
    {{/if}}
  </div>
</div>
{{/each}}
