<div  id="org" class="simple-page">
  <div class="row-fluid">
    <span class="span4">
      <div class="side-profile">
        {{avatar profile class="profile_image pull-center"}}
        <div class="page-heading">
          <h1>
            {{name}}
            <small>
              <br>{{location}}
            </small>
          </h1> 
          <hr>
          <h3>{{members.length}} Members</h3>
            <div class="avatar-grid">
            {{#each members}}
              <div class="grid-pic"> 
                {{avatar tiny}}
              </div>
            {{/each}}
            {{#each members}}
              <div class="grid-pic"> 
                {{avatar tiny}}
              </div>
            {{/each}}
            {{#each members}}
              <div class="grid-pic"> 
                {{avatar tiny}}
              </div>
            {{/each}}
            </div>

            <h3>{{members.length}} Teams</h3>
            <div class="avatar-grid">
            {{#each members}}
              <div class="grid-pic"> 
                {{avatar tiny}}
              </div>
            {{/each}}
            </div>


        </div>
      </div>
    </span>
    <span class="span5 profile-content-column">
      {{outlet}}
    </span>
  </div>
</div>