<div class="simple-page">
  <div class="row-fluid">
    <span class="span4">
      <div class="side-profile">
        {{avatar profile class="profile_image pull-center"}}
        <div class="page-heading">
          <h1>
            {{name}}
            <div class="profile-sub-heading">
            <small>
              {{location}}
            </small>
            </div>
          </h1>
          <div class="description">
            {{{description}}}
          </div> 
          <hr>
          <div class="grids">
            <div class="avatar-grid">
              <h3 class="list-view">{{users.length}} Members</h3>
              {{#each users}}
                <div class="grid-pic"> 
                  {{#linkTo 'user.home' this}} {{avatar2 avatar size="small"}} {{/linkTo}}                  

                </div>
              {{/each}}
            </div>
          </div> 
        </div>
      </div>
    </span>
    <!-- {{!-- TODO: unhide settings when moderators are implemented
      <div class="profile-options">
        <div>
          {{#linkTo 'organization.home' this classNames="profile-option-tab profile-home"}} 
          <i class="icon-home icon-2x"></i>{{/linkTo}}
        </div>
        <div>
          {{#linkTo 'organization.settings' this classNames="profile-option-tab profile-home"}}
          <i class="icon-cog icon-2x"></i>{{/linkTo}}
        </div>
      </div> 
    --}}-->
    <span class="span8">
      {{outlet}}
    </span>
  </div>
</div>