<div  id="new-org" class="simple-page">
  {{name}}a
  {{#if errorMessages}}
    <div class="alert alert-error">{{errorMessages}}</div>
  {{/if}}
  <div class="form-fields">
    <div class="row name field">
      {{view Ember.TextField
        type="text"
        placeholder=name
        valueBinding="name"
      }}
    </div>
    <div class="row slug field">
      {{view Ember.TextField
        type="text"
        placeholder=slug
        valueBinding="slug"
      }}
    </div>
    <div class="row location field">
      {{view Ember.TextField
        valueBinding=location
        placeholder="location"
      }}
    </div>
    <div class="btn btn-large btn-block  row signup-btn" {{action "editOrg"}}> Save Changes </div>
  </div>
    <span class="clearfix"></span>
</div>