<div class="org-search-item discovery-transparent-cover">
{{#linkTo 'organization.home' this class="org-name"}}
  <div>
  <span class="org-image">
  {{avatar small}}
  </span>
  <span class="org-data">
    <span>
      <div class="org-text"> {{name}} </div>
      <div class="org-properties">
        <span class="">{{location}}  · </span>
        <span class="">{{users.length}} members</span>
        <span class="">{{games.length}} games</span>
      </div>
    </span>
  </span>
</div>
{{/linkTo}}
</div>
