<div  id="new-org" class="simple-page">
  {{#if errorMessages}}
    <div class="alert alert-error">{{errorMessages}}</div>
  {{/if}}
<div class="page-heading"><h1>Create your Organization!</h1></div>
  <div class="row-fluid">
    <span class="span12">
      <div class="form-fields">
        <div class="field">
          {{view Ember.TextField
            type="text"
            placeholder="Name"
            valueBinding="name"
          }}
        </div>
        <div class="field">
          {{view Ember.TextField
            type="text"
            placeholder="Slug"
            valueBinding="slug"
          }}
        </div>
        <div class="field">
          {{view Ember.TextField
            valueBinding="location"
            placeholder="location"
          }}
        </div>
        <div class="row btn btn-large btn-block signup-btn" {{action "create"}}> Create Organization </div>
      </div>
    </span>
  </div>
    <span class="clearfix"></span>
</div>