<div  id="new-org" class="simple-page">
  {{#if errorMessages}}
    <div class="alert alert-error">{{errorMessages}}</div>
  {{/if}}
  <div class="fields">
    <div class="row name field">
      {{view Ember.TextField
        type="text"
        placeholder="Name"
        valueBinding="orgname"
      }}
    </div>
    <div class="row slug field">
      {{view Ember.TextField
        type="text"
        placeholder="Slug"
        valueBinding="slug"
      }}
    </div>

<!--     <div class="row description field">
      {{view Ember.TextArea
        type="textArea"
        placeholder="Description"
      }}
    </div> -->
    <div class="row location field">
      {{view Ember.TextField
        valueBinding="location"
        placeholder="Location"
      }}
    </div>
    <div class="btn btn-large btn-block  row signup-btn" {{action "createOrg"}}> Create Org </div>
  </div>
    <span class="clearfix"></span>
</div>