<div  id="org" class="simple-page">
  {{#linkTo organizations.edit this class="btn row signup-btn"}} Edit Org{{/linkTo}}
  {{#linkTo games.new class="btn row signup-btn"}} Create Game {{/linkTo}}

  <h1 class="org-title"> The name of my org is "{{name}}" </h1>
  <h1 class="org-test"> My member count is "{{member_count}}" </h1>
  <h1 class="org-test"> My photo is: "{{photo}}" </h1>  
  <h1 class="org-test"> My location is: "{{location}}" </h1>
  <div class="list-box">
    <div class="box-item">
      <h1 class="org-test"> My games are: {{games}}</h1>
      {{#each games}}
        hi {{name}}
      {{/each}}
    </div>
    <div class="box-item">
      <h1 class="org-test"> My members are: {{users}}</h1>
      {{#each games}}
        hi {{name}}
      {{/each}}
    </div>
  </div>  
</div>