  {{#if errorMessages}}
    <div class="alert alert-error">{{errorMessages}}</div>
  {{/if}}
  <h1>Edit Game Settings</h1>
  <div class="form-fields">
    <div class="row name field">
      {{view Ember.TextField
        type="text"
        placeholder=name
        valueBinding="game.name"
      }}
    </div>
    <div class="row slug field">
      {{view Ember.TextField
        type="text"
        placeholder=slug
        valueBinding="game.slug"
      }}
    </div>
    <div class="btn btn-large btn-block  row signup-btn" {{action "editGame"}}>Save Changes </div>
  </div>
      {{game.organization}}
      {{#each game.players}}
      <div class="inline-game"> 
        {{#linkTo game.home this}} {{name}} {{/linkTo}}
      </div>
    {{/each}}
    <span class="clearfix"></span>
